/*----Body----*/
body {
  font-family: 'Markazi Text', serif;
}
.container {
  max-width: 1310px;
  margin: auto;
  padding: 0 40px;
}
h1 {
  font-size: 60px;
  margin: 0 0 20px;
  line-height: 0.9;
}
h2 {
  font-size: 50px;
  margin: 0 0 20px;
  line-height: 0.9;
}
h3 {
  font-size: 40px;
  margin: 0 0 20px;
  line-height: 0.9;
}
h4 {
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 0.9;
}
p {
  font-size: 20px;
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  p {
    text-align: justify;
  }
}

/*----Buttons----*/
.buttonStyle {
  background: #f4ce14;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  border: 2px solid #f4ce14;
}
.buttonStyle a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

/*----Navbar----*/
nav {
  background-color: #ffffff;
  padding: 20px 0;
}
.navSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLogoContainer img {
  width: 200px;
}
.navListContainer ul {
  display: inline-flex;
}
.navListContainer li {
  list-style: none;
  margin-left: 20px;
}
.navList {
  display: none;
}
.navListContainer a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
nav .buttonStyle {
  font-weight: 600;
}
@media only screen and (min-width: 991px) {
  .burgerIcon {
    display: none;
  }
  .navList {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .navLogoContainer img {
    width: 150px;
  }
}
/*----Header----*/
header {
  background-color: #495e57;
  padding: 50px 0;
}
.headerSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
header h1 {
  color: #f4ce14;
}
header h3 {
  color: #ffffff;
}
header p {
  color: #ffffff;
  width: 60%;
}
.headerLastContainer img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}
@media only screen and (max-width: 767px) {
  .headerSection {
    display: block;
  }
  .headerFirstConteiner {
    margin-bottom: 50px;
  }
  header p {
    width: 100%;
  }
}

/*----Main----*/
main {
  padding: 50px 0;
}
.mainTitleSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-bottom: 2px solid #495e57;
}
.mainCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.mainCardSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  margin-bottom: 50px;
}
.mainCard {
  border-radius: 15px 15px 0 0;
  background: #f2f2f2;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}
.mainCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mainCardContent {
  padding: 20px;
}
.mainCardText {
  text-align: justify;
}
.mainCardPrice {
  font-size: 25px;
  font-weight: 600;
  color: #495e57;
}
.mainCardFooter img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.mainCardFooter {
  display: flex;
  justify-content: space-between;
}
.mainTestimonialSection {
  padding: 50px 0;
  background-color: #495e57;
}
.mainTestimonial {
  margin-bottom: 50px;
}
.mainTestimonial h2 {
  color: #f4ce14;
  text-align: center;
}
.mainTestimonialCardSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.maniTestimonialCard {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}
.maniTestimonialCard .cardHeader img {
  width: 30px;
}
.maniTestimonialCard .cardContent img {
  margin-right: 20px;
  height: 100px;
  object-fit: cover;
  object-position: left;
}
.maniTestimonialCard .cardContent h4 {
  margin-bottom: 0;
}
.maniTestimonialCard .cardFlexContent {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.mainDescriptionSection {
  padding-top: 50px;
}
.mainLastContainer img {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}
.mainDescription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.mainLastContainer {
  position: relative;
}
.mainLastContainer img:first-child {
  width: 60%;
  position: absolute;
  right: 0;
}
.mainLastContainer img:last-child {
  width: 60%;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .mainCardSection {
    grid-gap: 20px;
  }
  .mainCardSection .mainCardTitle {
    display: block;
  }
  .mainCardSection .mainCardTitle h4 {
    margin-bottom: 0;
  }
  .mainTestimonialCardSection {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .mainCardSection {
    display: block;
  }
  .mainCardSection .mainCard {
    margin-bottom: 50px;
  }
  .mainTestimonialCardSection {
    display: block;
  }
  .maniTestimonialCard {
    margin-bottom: 50px;
  }
  .mainDescription {
    display: block;
  }
}

/*----Footer----*/
footer {
  padding: 0 40px;
}
footer .container {
  padding: 50px 0;
  border-top: 2px solid #495e57;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footerLogo img {
  width: 200px;
}
footer section li {
  font-size: 20px;
  list-style: none;
}
footer section ul {
  padding-left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .footerLogo {
    grid-column: 1 / span 4;
    text-align: center;
  }
  footer .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  footer .container {
    display: block;
  }
  footer .container section {
    margin-bottom: 50px;
  }
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/